NGINX_HOST_PORT=8086
NGINX_BASE_IMAGE=nginx:1.27-alpine
NGINX_IMAGE=siye-nginx-music-api-network:5.0.0
MUSIC_API_IMAGE=siye-music-api-network:5.0.0
NODE_IMAGE=node:20-bookworm-slim
CORS_ALLOW_ORIGIN=*
